/* fonts  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* common styles or utilities */
body {
  font-family: "Poppins", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* navigation bar  */
.nav-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: 700;
}

.nav-brand {
  font-size: 35px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  padding: 0 10px;
  border: 2px solid #e02c6d;
  border-radius: 5px;
  margin-right: 450px;
}
.text-pink {
  color: #e02c6d;
}
.nav-bar {
  display: flex;
  justify-content: flex-end;
  background-color: #2d25a0;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  height: 70px;
}
.nav {
  list-style: none;
}
.nav-item {
  display: inline-block;
  padding: 10px 20px;
}
.nav-item:hover {
  background-color: #e02c6d;
  cursor: pointer;
}

/* banner cover  */
.container:hover .banner-photo{
  transform: scale(1.2);
}
.container {
  background-color: #2d25a0;
  display: flex;
  justify-content: space-between;
  padding: 50px 100px;
}
.banner,
.banner-photo {
  width: 45%;
}

.banner-title {
  color: #ffffff;
  font-size: 55px;
}
.button {
  font-size: 16px;
  text-decoration: none;
  color: white;
  background-color: #e02c6d;
  padding: 10px 20px;
}
.banner-photo img {
  width: 100%;
}

/* player list 
 */
.player-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
.player-box {
  background-color: #ffffff;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.player-photo img {
  width: 100%;
}

.wrapper-container {
  max-width: 1024px;
  margin: 0 auto;
}
.player-description {
  font-size: 16px;
  color: #6c6c6c;
  font-weight: normal;
}

/* hightlights section */
.highlights-photo {
  flex: 0.5;
}
.highlights {
  flex: 0.5;
}

.highlights-zone {
  display: flex;
  padding: 150px 0;
  justify-content: center;
  align-items: center;
}
.highlights-title {
  font-size: 48px;
  line-height: 60px;
}

.highlights-photo img {
  width: 100%;
  position: relative;
  left: 50px;
}

/* media partner */
.media-content h1 {
  text-align: center;
}
.media {
  display: flex;
  margin: 50px;
  padding: 18px 0;
  box-shadow: 5px 5px 20px grey;
  border-radius: 15px;
  justify-content: space-around;
}
.media-item {
  text-align: center;
}
.social {
  width: 100px;
}

/* Contact Us  */

.contact {
  background-color: #e8e7ee;
  padding: 50px;
  margin-bottom: 10px;
}
.contact h1 {
  text-align: center;
  margin-bottom: 25px;
}
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-input {
  margin-bottom: 20px;
  width: 40%;
  font-size: 16px;
  padding: 5px 20px;
  border-radius: 10px;
  border: 1px solid grey;
}

/* footer  */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-image {
  width: 30%;
}
.social-icon {
  width: 170px;
  height: 32px;
  display: flex;
  justify-content: space-between;
}
.copyright {
  font-size: 18px;
  color: rgb(27, 26, 26);
}

/* media query for mobile  */

@media only screen and (max-width: 600px) {
  .player-list {
    display: block;
  }
  .container {
    display: block;
    padding: 50px 20px;
  }
  .banner,
  .banner-photo {
    width: 100%;
    margin: 30px 0px;
  }
  .banner-title {
    font-size: 35px;
  }
}
